name: Test

on:
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Install nightly toolchain
      run: rustup default nightly
    - uses: actions/checkout@v6
    - name: Rust Cache
      uses: Swatinem/rust-cache@v2
      with:
        shared-key: "tests"
        cache-on-failure: true
    - name: Run tests
      run: cargo test
